<!DOCTYPE html>
<html>
<head>
  <title>BbApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
    <header class="header">
      <%= link_to 'みんなのつぶやき', messages_path,{class: "index_link"} %>
      <%= link_to 'つぶやく', new_message_path,{class: "new_btn"} %>
    </header>
    <%= yield %>
  </div>
</body>
</html>
